/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "@fontsource/montserrat";
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.focus-visible\:ring-ring:focus-visible {
    --tw-ring-color: hsl(var(hsl(217.2 32.6% 17.5%)));
}
.ring-offset-background {
    --tw-ring-offset-color: hsl(var(hsl(222.2 84% 4.9%)));
}
.bg-danger {
    background-image: linear-gradient(210deg, #fe6969, #e30713);
}
.text-destructive-foreground {
    color: hsl(var(hsl(210 40% 98%)));
}
.border-input {
    border-color: hsl(var(hsl(217.2 32.6% 17.5%)));
}

.bg-accent{
    background-color: hsl(var(hsl(217.2 32.6% 17.5%)));
}
.text-accent-foreground{
    color: hsl(var(hsl(210 40% 98%)));
}
.bg-admin{
    background-color: #F5F4F9;
}
.wrapper:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(0deg, #10141b, rgba(16, 20, 27, 0));
}
.img-css{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: transparent;
} 
/* position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent; */
.img-css-detail{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
}
.seat {
    grid-template-columns: repeat(auto-fit,minmax(9px,1fr))
}