<main class="min-h-screen flex flex-col bg-[#10141B] mx-auto px-8 text-white xl:pt-20" role="main">
    <div class="mx-auto max-w-7xl pt-16">
        <div class="ticket-title flex flex-col items-center">
            <h1 class="text-2xl font-bold">Ticket Price</h1>
            <p>(Apply from 1/6/2023)</p>
        </div>
        <div class="table w-full mt-4 xl:mt-10 space-y-4 my-10 mx-auto justify-center">
            <h2 class="font-semibold text-lg">1. Ticket Price 2D</h2>
            <div>
                <div class="border border-gray-600 rounded-lg">
                    <div class="w-full overflow-auto">
                        <table class="w-full text-left text-sm border-collapse" aria-label="Ticket Prices">
                            <thead class="text-gray-400">
                                <tr class="border-b border-gray-600">
                                    <th class="h-12 px-32 border-r border-gray-600 text-left align-middle font-medium"
                                        scope="col"></th>
                                    <th class="h-12 px-28 border-r border-gray-600 align-middle text-center font-bold my-2"
                                        scope="colgroup" colspan="3">
                                        From Monday to Thursday
                                    </th>
                                    <th class="h-12 px-28 border-r border-gray-600 align-middle text-center font-bold my-2"
                                        colspan="3" scope="colgroup">
                                        Friday, Saturday, Sunday & Public Holiday
                                    </th>
                                </tr>
                                <tr class="border-b border-gray-600">
                                    <th class="h-14 px-4 border-r border-gray-600 text-left align-middle font-medium"
                                        scope="col">
                                        Time
                                    </th>
                                    <th class=" px-4 border-r border-gray-600 text-center font-semibold" scope="col">
                                        STANDARD
                                    </th>
                                    <th class="h-12 px-4 border-r border-gray-600 text-center font-semibold text-yellow-500"
                                        scope="col">
                                        VIP
                                    </th>
                                    <th class="h-12 px-4 border-r border-gray-600 text-center font-semibold text-red-500"
                                        scope="col">
                                        SWEETBOX
                                    </th>
                                    <th class="h-12 px-4 border-r border-gray-600 text-center font-semibold"
                                        scope="col">
                                        STANDARD
                                    </th>
                                    <th class="h-12 px-4 border-r border-gray-600 text-center font-semibold text-yellow-500"
                                        scope="col">
                                        VIP
                                    </th>
                                    <th class="h-12 px-4 border-r border-gray-600 text-center font-semibold text-red-500"
                                        scope="col">
                                        SWEETBOX
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="&_tr:last-child]:border-0">
                                <tr class="border-b transition-colors h-20">
                                    <td class=" px-4 border border-gray-600 text-left">Before 12PM</td>
                                    <td class=" px-4 border border-gray-600 text-center">10.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">15.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">20.00</td>
                                    <td class=" px-4 border border-gray-600 text-center">12.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">18.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">25.00</td>
                                </tr>
                                <tr class="border-b transition-colors h-20">
                                    <td class=" px-4 border border-gray-600 text-left">From 12PM to 17PM</td>
                                    <td class=" px-4 border border-gray-600 text-center">10.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">15.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">20.00</td>
                                    <td class=" px-4 border border-gray-600 text-center">20.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">18.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">25.00</td>
                                </tr>
                                <tr class="border-b transition-colors h-20">
                                    <td class=" px-4 border border-gray-600 text-left">From 5PM to before 11PM</td>
                                    <td class=" px-4 border border-gray-600 text-center">10.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">15.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">20.00</td>
                                    <td class=" px-4 border border-gray-600 text-center">12.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">18.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">25.00</td>
                                </tr>
                                <tr class="border-b transition-colors h-20">
                                    <td class=" px-4 border border-gray-600 text-left">From 11PM</td>
                                    <td class=" px-4 border border-gray-600 text-center">10.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">15.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">20.00</td>
                                    <td class=" px-4 border border-gray-600 text-center">12.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">18.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">25.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <p class="text-sm text-gray-400">* For movies with a duration of 150 minutes or more: an additional charge
                of 10,000 VND per ticket.</p>
        </div>
        <div class="table mt-4 w-full xl:mt-10 space-y-4 my-10 mx-auto justify-center">
            <h2 class="font-semibold text-lg">2. Ticket Price 3D</h2>
            <div>
                <div class="border border-gray-600 rounded-lg">
                    <div class="w-full overflow-auto">
                        <table class="w-full text-left text-sm border-collapse" aria-label="Ticket Prices">
                            <thead class="text-gray-400">
                                <tr class="border-b border-gray-600">
                                    <th class="h-12 px-32 border-r border-gray-600 text-left align-middle font-medium"
                                        scope="col"></th>
                                    <th class="h-12 px-28 border-r border-gray-600 align-middle text-center font-bold my-2"
                                        scope="colgroup" colspan="3">
                                        From Monday to Thursday
                                    </th>
                                    <th class="h-12 px-28 border-r border-gray-600 align-middle text-center font-bold my-2"
                                        colspan="3" scope="colgroup">
                                        Friday, Saturday, Sunday & Public Holiday
                                    </th>
                                </tr>

                                <tr class="border-b border-gray-600">
                                    <th class="h-14 px-4 border-r border-gray-600 text-left align-middle font-medium"
                                        scope="col">
                                        Time
                                    </th>
                                    <th class=" px-4 border-r border-gray-600 text-center font-semibold" scope="col">
                                        STANDARD
                                    </th>
                                    <th class="h-12 px-4 border-r border-gray-600 text-center font-semibold text-yellow-500"
                                        scope="col">
                                        VIP
                                    </th>
                                    <th class="h-12 px-4 border-r border-gray-600 text-center font-semibold text-red-500"
                                        scope="col">
                                        SWEETBOX
                                    </th>
                                    <th class="h-12 px-4 border-r border-gray-600 text-center font-semibold"
                                        scope="col">
                                        STANDARD
                                    </th>
                                    <th class="h-12 px-4 border-r border-gray-600 text-center font-semibold text-yellow-500"
                                        scope="col">
                                        VIP
                                    </th>
                                    <th class="h-12 px-4 border-r border-gray-600 text-center font-semibold text-red-500"
                                        scope="col">
                                        SWEETBOX
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="&_tr:last-child]:border-0">
                                <tr class="border-b transition-colors h-20">
                                    <td class=" px-4 border border-gray-600 text-left">Before 12PM</td>
                                    <td class=" px-4 border border-gray-600 text-center">10.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">15.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">20.00</td>
                                    <td class=" px-4 border border-gray-600 text-center">12.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">18.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">25.00</td>
                                </tr>
                                <tr class="border-b transition-colors h-20">
                                    <td class=" px-4 border border-gray-600 text-left">From 12PM to 17PM</td>
                                    <td class=" px-4 border border-gray-600 text-center">10.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">15.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">20.00</td>
                                    <td class=" px-4 border border-gray-600 text-center">20.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">18.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">25.00</td>
                                </tr>
                                <tr class="border-b transition-colors h-20">
                                    <td class=" px-4 border border-gray-600 text-left">From 5PM to before 11PM</td>
                                    <td class=" px-4 border border-gray-600 text-center">10.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">15.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">20.00</td>
                                    <td class=" px-4 border border-gray-600 text-center">12.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">18.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">25.00</td>
                                </tr>
                                <tr class="border-b transition-colors h-20">
                                    <td class=" px-4 border border-gray-600 text-left">From 11PM</td>
                                    <td class=" px-4 border border-gray-600 text-center">10.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">15.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">20.00</td>
                                    <td class=" px-4 border border-gray-600 text-center">12.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-yellow-500">18.00</td>
                                    <td class=" px-4 border border-gray-600 text-center text-red-500">25.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <p class="text-sm text-gray-400">* For movies with a duration of 150 minutes or more: an additional charge
                of 10,000 VND per ticket.</p>

            <div class="mt-6 px-6">
                <h2 class="text-xl font-bold text-yellow-400">Ticket Prices for Priority Audience Groups</h2>
                <p class="text-gray-300 italic">(*Applicable when directly using movie theater services)</p>

                <ul class="list-disc list-inside mt-4 space-y-2 text-white">
                    <li>
                        <span class="font-semibold text-green-400">20% discount</span> on ticket prices according to
                        regulations for:
                        <span class="text-gray-300">Children (under 16 years old), senior citizens (Vietnamese citizens
                            aged 60 and above),
                            people with meritorious services to the revolution, and those in especially difficult
                            circumstances.</span>
                    </li>
                    <li>
                        <span class="font-semibold text-green-400">50% discount</span> on ticket prices according to
                        regulations for:
                        <span class="text-gray-300">People with severe disabilities.</span>
                    </li>
                    <li>
                        <span class="font-semibold text-green-400">100% discount</span> on ticket prices for:
                        <span class="text-gray-300">People with extremely severe disabilities and children under 0.7m
                            accompanied by an adult.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>