<div
  class="fixed transform translate-y-[-50%] top-1/2 left-1/2 translate-x-[-50%] flex items-center justify-center z-50 shadow-[10px_20px_35px_rgba(0,0,0,0.25)] shadow-slate-800 rounded-2xl"
>
  <div class="bg-[#0B0D13] p-8 shadow-md rounded-lg w-96">
    <div class="flex justify-between items-center mb-4 *:text-white">
      <h2 class="text-2xl font-semibold text-center w-full">FORGOT PASSWORD</h2>
      <button
        title="Close modal"
        type="button"
        class="text-white pl-4 py-2 rounded-md cursor-pointer"
        (click)="closeModal()"
      >
        <fa-icon [icon]="faTimes" class="text-2xl"></fa-icon>
      </button>
    </div>
    <form
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()"
      class="*:text-white"
    >
      <!-- Email Input -->
      <div>
        <label for="email" class="block mb-2"
          >Email<span class="text-red-500 ml-1">*</span></label
        >
        <input
          type="email"
          formControlName="email"
          class="w-full bg-[#0B0D13] px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-gray-400"
          placeholder="Enter email"
          required
          [ngClass]="{
            'border-red-500 bg-red-100 text-red-500':
              forgotPasswordForm.get('email')?.invalid &&
              forgotPasswordForm.get('email')?.touched
          }"
        />
        <span
          *ngIf="
            forgotPasswordForm.get('email')?.invalid &&
            forgotPasswordForm.get('email')?.touched
          "
          class="text-red-500 text-sm"
        >
          Email is required with 3-50 characters
        </span>
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="w-full mt-4 bg-[#EF4444] text-white py-2 rounded-md hover:bg-[#E30713] cursor-pointer transition disabled:bg-gray-400"
        [disabled]="forgotPasswordForm.invalid"
      >
        Send Reset Link
      </button>
    </form>
    <p
      class="text-green-500 mt-3 text-center text-sm italic"
      *ngIf="successMessage"
    >
      {{ successMessage }}
    </p>
    <p
      class="text-[#EF4444] mt-3 text-center text-sm italic"
      *ngIf="errorMessage"
    >
      {{ errorMessage }}
    </p>
  </div>
</div>
