<section class="">
  <div class="bg-white rounded-lg shadow py-6 px-10 w-full">
    <div class="flex flex-row items-center mb-6">
      <button
        type="button"
        (click)="onClose()"
        class="text-black pr-4 py-2 rounded mr-2 hover:underline cursor-pointer"
        title="Back"
      >
        <fa-icon [icon]="faArrowLeft" class="text-gray-500 text-xl"></fa-icon>
      </button>
      <h2 class="text-xl font-bold">Employee Information</h2>
    </div>
    <div class="flex items-center mb-6">
      <div
        class="w-24 h-24 bg-gray-200 rounded-full flex items-center justify-center mr-4"
      >
        <fa-icon [icon]="faUser" class="text-gray-500 text-3xl"></fa-icon>
      </div>
      <div>
        <h3 class="text-lg font-semibold">{{ selectedItem?.displayName }}</h3>
        <p class="text-gray-600">{{ selectedItem?.username }}</p>
      </div>
    </div>
    <div class="flex flex-col md:grid md:grid-cols-2 gap-2">
      <div class="flex flex-col gap-2">
        <div>
          <p class="text-sm pt-2 text-gray-500">Full Name</p>
          <p class="font-semibold">{{ selectedItem?.displayName }}</p>
        </div>
        <div>
          <p class="text-sm pt-2 text-gray-500">Date of Birth</p>
          <p class="font-semibold">
            {{ selectedItem?.dateOfBirth | date : "mediumDate" }}
          </p>
        </div>
        <div>
          <p class="text-sm pt-2 text-gray-500">Gender</p>
          <p class="font-semibold">{{ selectedItem?.gender }}</p>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div>
          <p class="text-sm pt-2 text-gray-500">Identity Card</p>
          <p class="font-semibold">{{ selectedItem?.identityCard }}</p>
        </div>
        <div>
          <p class="text-sm pt-2 text-gray-500">Email</p>
          <p class="font-semibold">{{ selectedItem?.email }}</p>
        </div>
        <div>
          <p class="text-sm pt-2 text-gray-500">Phone Number</p>
          <p class="font-semibold">{{ selectedItem?.phoneNumber }}</p>
        </div>
      </div>
      <div class="col-span-2">
        <p class="text-sm pt-2 text-gray-500">Address</p>
        <p class="font-semibold">{{ selectedItem?.address }}</p>
      </div>
    </div>
    <!-- <div class="mt-6 flex justify-end">
   
    </div> -->
  </div>
</section>
