<main class="min-h-screen pt-10 pb-10 px-4 sm:px-6 xl:px-0 bg-[#10141B]">
    <div class="mx-auto max-w-7xl text-white pt-20">
        <!-- Show Time Date Selection -->
        <div class="flex items-center gap-2 mb-4 justify-center">
          <h3 class="text-xl font-bold">Now showing</h3>
        </div>
        <div class="flex items-center justify-center gap-4 xl:gap-4 flex-wrap">
            <button *ngFor="let showtime of showtimes"
                 class="inline-flex items-center justify-center text-sm font-medium ring-offset-background transition-colors
                 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2
                 disabled:pointer-events-none disabled:opacity-50 border text-destructive-foreground
                 hover:bg-blue-500 h-9 rounded-md px-3 hover:cursor-pointer"
                [ngClass]="{'bg-danger text-white': selectedShowtime === showtime.showDate}"
                (click)="onShowtimeClick(showtime.showDate)">
                {{ showtime.showDate }}
            </button>                       
        </div>
        <div class="text-sm text-center mx-auto mt-4 text-orange-500">
            <b>Note: </b>Viewers under 13 years old may only select screenings that end before 10:00 PM, and viewers under 16 years old may only select screenings that end before 11:00 PM.
        </div>
      
        <app-movies [selectedShowtime]="selectedShowtime"></app-movies>

    </div>
</main>

