<section class="flex-1 bg-white rounded-lg shadow p-6 w-full">
    <h2 class="text-2xl font-bold mb-4">Selling Ticket</h2>
    <div class="lg:flex items-center mb-4 lg:relative">
        <div class="flex items-center mb-4">
            <button class="mr-2 p-2 w-10 h-10 rounded-xl shadow-md hover:bg-gray-100 cursor-pointer">
                <fa-icon [icon]="faArrowLeft" class="w-6 h-6"></fa-icon>
            </button>
            <input type="text" placeholder="Search"
                class="flex-1 px-4 py-2 rounded-3xl bg-gray-200 hover:bg-gray-300 cursor-pointer">
        </div>
        <div class="flex flex-col items-center mb-4 lg:absolute lg:left-1/2 lg:transform lg:-translate-x-1/2">
            <span class="text-red-500 font-bold mb-2">● Now showing</span>
            <div class="flex">
                <button
                    class="bg-red-500 text-white px-4 py-2 rounded mr-2 hover:bg-red-600 cursor-pointer">13-3-2025</button>
                <button
                    class="bg-gray-200 text-black px-4 py-2 rounded mr-2 hover:bg-gray-300 cursor-pointer">14-3-2025</button>
                <button
                    class="bg-gray-200 text-black px-4 py-2 rounded hover:bg-gray-300 cursor-pointer">15-3-2025</button>
            </div>
        </div>
    </div>
    <div class="flex flex-col border rounded-lg mt-4 p-4 relative">
        <p class="border px-8 rounded absolute top-5 right-5">2D</p>
        <div>
            <p class="text-sm">Comedy, Action 110 minutes</p>
            <h3 class="text-lg font-bold">ANH KHÔNG ĐAU-T18</h3>
            <p class="text-sm">Origin: US</p>
            <p class="text-sm">Released Date: 14/03/2025</p>
            <p class="text-sm font-bold">Show time</p>
            <div class="mt-2">
                <p class="px-4 mr-2 rounded bg-red-500 w-fit text-white">9:00</p>
            </div>
        </div>
    </div>
    <div class="seat-container flex-1 text-center">
        <h2 class="text-2xl font-bold mt-4">Room 14</h2>
        <div class="flex justify-center">
            <div class="container w-fit scale-75 lg:scale-90 text-center py-4 px-15 bg-gray-300 rounded-lg">
                <div class="pb-5 text-white">
                    <div class="border-b-2 border-black text-black scale-110 py-2 mb-[50px]">Screen</div>
                    <div class="grid grid-cols-8 gap-2 lg:gap-4 mb-2" *ngFor="let row of [0, 1, 2, 3, 4, 5]">
                        <button
                            class="w-[100%] h-auto aspect-square m-0.75 lg:m-1.25 rounded shadow-md shadow-gray-500 hover:shadow-lg hover:shadow-gray-700"
                            [ngClass]="!seats[row * 8 + col].isAvailable ? 'bg-black pointer-events-none' : (seats[row * 8 + col].isSelected ? 'bg-blue-500 hover:bg-blue-600' : (seats[row * 8 + col].isVip ? 'bg-yellow-500 hover:bg-yellow-600' : 'bg-gray-500 hover:bg-gray-600'))"
                            [disabled]="!seats[row * 8 + col].isAvailable" (click)="toggleSeat(seats[row * 8 + col])"
                            *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]">
                            {{ seats[row * 8 + col].isAvailable ? seats[row * 8 + col].label : 'X' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex space-x-10 justify-start px-8 mx-5">
            <div class="flex items-center space-x-2">
                <div class="w-5 h-auto aspect-square bg-gray-500 rounded"></div>
                <span>Unavailable Seat</span>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-5 h-auto aspect-square bg-blue-500 rounded"></div>
                <span>Selected Seat</span>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-5 h-auto aspect-square bg-gray-500 rounded"></div>
                <span>Normal Seat</span>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-5 h-auto aspect-square bg-yellow-500 rounded"></div>
                <span>VIP Seat</span>
            </div>
        </div>
        <div class="flex justify-between items-center">
            <div class="flex flex-col justify-start">
                <div class="">
                    <span>Selected Seat:</span>
                    <ng-container class="grid grid-cols-8 gap-1 lg:gap-4 mb-2" *ngFor="let seat of selectedSeats">
                        <span class="h-auto aspect-square m-0.5 lg:m-1 p-1 rounded text-white text-sm lg:text-base"
                            [ngClass]="seat.isVip ? 'bg-yellow-500' : 'bg-gray-500'">{{seat.label}}</span>
                    </ng-container>
                </div>
                <div class="mt-2">
                    <span>Total Price: </span>
                    <span>{{totalPrice}}đ</span>
                </div>
            </div>
            <div class="mt-6 flex justify-end">
                <button type="button"
                    class="text-black px-4 py-2 rounded mr-2 hover:underline cursor-pointer">Cancel</button>
                <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 cursor-pointer">Payment</button>
            </div>
        </div>
    </div>
</section>