<section class="flex-1 bg-white rounded-lg shadow p-6 w-full">
    <h2 class="text-2xl font-bold mb-4">Selling Ticket</h2>
    <div class="xl:flex items-center mb-4 xl:relative">
        <div class="flex items-center mb-4">
            <button [routerLink]="['/admin/ticketselling']" class="mr-2 p-2 w-10 h-10 rounded-xl shadow-md hover:bg-gray-100 cursor-pointer">
                <fa-icon [icon]="faArrowLeft" class="w-6 h-6"></fa-icon>
            </button>
            <!-- <input type="text" placeholder="Search"
                class="flex-1 px-4 py-2 rounded-3xl bg-gray-200 hover:bg-gray-300 cursor-pointer"> -->
        </div>
        <div class="flex flex-col items-center mb-4 xl:absolute xl:left-1/2 xl:transform xl:-translate-x-1/2">
            <span class="text-red-500 font-bold mb-2">● Now showing</span>
            <div class="flex">
                <button
                    class="bg-red-500 text-white px-4 py-2 rounded mr-2 hover:bg-red-600 cursor-pointer">{{showtime.showDate}}</button>
            </div>
        </div>
    </div>
    <div class="flex flex-col border rounded-lg mt-4 p-4 relative">
        <p class="border px-8 rounded absolute top-5 right-5">{{ movie.version === 1 ? '2D' : '3D' }}</p>
        <div>
            <p class="text-sm">{{movie.genres}} {{movie.duration}} minutes</p>
            <h3 class="text-lg font-bold">{{movie.name}}</h3>
            <p class="text-sm">Origin: {{movie.origin}}</p>
            <p class="text-sm font-bold">Show time</p>
            <div class="mt-2">
                <p class="px-4 mr-2 rounded bg-red-500 w-fit text-white">{{ showtime.startTime | customFormat: 'timeShort' }}</p>
            </div>
        </div>
    </div>
    <div class="seat-container flex-1 text-center">
        <h2 class="text-2xl font-bold mt-4">{{room.name}}</h2>
        <div class="flex justify-center">
            <div class="container w-fit scale-75 lg:scale-90 text-center py-4 px-15 bg-gray-300 rounded-lg">
                <div class="pb-5 text-white">
                    <div class="border-b-2 border-black text-black scale-110 py-2 mb-[50px]">Screen</div>
                    <div *ngFor="let row of groupSeatsByRow() | keyvalue">
                        <div class="grid md:flex gap-1 items-center justify-center seat">
                            <div class="aspect-square w-3 sm:w-6 xl:h-10 xl:w-10 rounded-[2px] sm:rounded-sm xl:rounded-[8px] flex items-center justify-center text-[8px] sm:text-sm lg:hidden">{{row.key}}</div>
                            <!-- Danh sách ghế -->
                            <div
                            *ngFor="let seat of row.value"
                            class="aspect-square rounded-[2px] sm:rounded-sm xl:rounded-[8px] flex items-center justify-center md:h-6 lg:h-10 cursor-pointer transition-all duration-300"
                            [ngClass]="{
                                'seat-color-click text-white': !seat.isBooked && !seat.isActive,
                                'seat-color-nor text-white': !seat.isBooked && seat.isActive && seat.seatType === 1,
                                'seat-color-booked cursor-not-allowed text-white': seat.isBooked,
                                'bg-yellow-500 text-white': !seat.isBooked && seat.isActive && seat.seatType === 2
                            }"
                            (click)="toggleSeatSelection(seat)">
                            <ng-container *ngIf="seat.isBooked; else normalSeat">
                                <p class="hidden lg:block text-sm lg:text-base">
                                    X
                                  </p>
                              </ng-container>
                              <ng-template #normalSeat>
                                <p class="hidden lg:block text-sm lg:text-base">
                                  {{ seat.row + seat.column }}
                                </p>
                              </ng-template>
                            </div>
                            <div class="aspect-square w-3 sm:w-6 xl:h-10 xl:w-10 rounded-[2px] sm:rounded-sm xl:rounded-[8px] flex items-center justify-center text-[8px] sm:text-sm lg:hidden">{{row.key}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="flex space-x-10 justify-start px-8 mx-5">
            <div class="flex items-center space-x-2">
                <div class="w-5 h-auto aspect-square bg-gray-500 rounded"></div>
                <span>Unavailable Seat</span>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-5 h-auto aspect-square bg-blue-500 rounded"></div>
                <span>Selected Seat</span>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-5 h-auto aspect-square bg-gray-500 rounded"></div>
                <span>Normal Seat</span>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-5 h-auto aspect-square bg-yellow-500 rounded"></div>
                <span>VIP Seat</span>
            </div>
        </div>
        <div class="flex flex-row justify-between items-center mt-4 px-4">
            <div class="text-left">
                <div>
                    <span>Selected Seat:</span>
                    <ng-container class="grid grid-cols-8 gap-8 mb-2" *ngFor="let seat of selectedSeats">
                        <span class="h-auto p-1 m-0.5 rounded text-black text-sm lg:text-base">{{seat.row}}{{seat.column}}</span>
                    </ng-container>
                </div>
                <div class="mt-2">
                    <span>Total Price: </span>
                    <span>{{totalPrice}}đ</span>
                </div>
            </div>
            <div class="mt-6 flex justify-end">
                <button [routerLink]="['/admin/ticketselling']"
                    class="text-black px-4 py-2 rounded mr-2 hover:underline cursor-pointer">Cancel</button>
                <button (click)="confirmSeats()"
                    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 cursor-pointer">Continue</button>
            </div>
        </div>
    </div>
</section>