<!-- List -->
<div class="card bg-white m-4 rounded-md shadow-md">
  <!-- List Items -->
  <div class="card-body">
    <table class="w-full text-sm border-b border-gray-300 table-fixed">
      <thead class="bg-blue-100 border-t border-gray-300">
        <tr class="*:p-2 *:border *:border-gray-200 *:text-center">
          <th *ngIf="isShowNumber" class="text-center w-12">No</th>
          <th *ngFor="let item of columns" class="text-center">
            {{ item.name }}
          </th>
          <th
            *ngIf="infoable || editable || deletable"
            class="text-center w-28"
          >
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="data && data.items.length != 0; else emptyData">
          <tr
            *ngFor="let item of data.items; let i = index"
            class="*:p-2 border-t border-gray-300 hover:bg-gray-100 *:text-center"
          >
            <td *ngIf="isShowNumber" class="text-center">
              {{ currentPageSize * (currentPage - 1) + i + 1 }}
            </td>
            <td *ngFor="let column of columns" class="text-center">
              {{ item[column.value] | customFormat : column.type }}
            </td>
            <td *ngIf="infoable || editable || deletable" class="text-center">
              <div class="flex justify-center space-x-2 *:cursor-pointer">
                <button
                  *ngIf="infoable"
                  class="border-0"
                  title="Detail"
                  type="button"
                  (click)="onView.emit(item.id)"
                >
                  <fa-icon
                    [icon]="faInfoCircle"
                    class="text-blue-500 hover:text-blue-700"
                  ></fa-icon>
                </button>
                <button
                  *ngIf="editable"
                  class="border-0"
                  title="Edit"
                  type="button"
                  (click)="onEdit.emit(item.id)"
                >
                  <fa-icon
                    [icon]="faEdit"
                    class="text-blue-500 hover:text-blue-700"
                  ></fa-icon>
                </button>
                <button
                  *ngIf="deletable"
                  class="border-0"
                  title="Delete"
                  type="button"
                  (click)="openConfirmModal(item.id)"
                >
                  <fa-icon
                    [icon]="faTrash"
                    class="text-red-500 hover:text-red-700 w-5 h-5"
                  ></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-template #emptyData>
          <tr>
            <td [colSpan]="columns.length + 2" class="text-center py-2">
              No data found
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="flex justify-center items-center py-4 px-10 text-sm">
    <button
      title="first"
      type="button"
      (click)="onPageChange.emit(1)"
      class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer"
    >
      <fa-icon [icon]="faAnglesLeft"></fa-icon>
    </button>
    <button
      title="previous"
      type="button"
      (click)="onPageChange.emit(currentPage > 1 ? currentPage - 1 : 1)"
      class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer"
    >
      <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>
    <div class="flex items-center mx-4">
      <span>Page</span>
      <input
        title="page"
        type="number"
        [(ngModel)]="currentPage"
        (ngModelChange)="onPageChange.emit(currentPage)"
        class="w-12 mx-2 text-center border rounded"
        min="1"
        [max]="data.totalPages"
        [disabled]="currentPage <= 1 || currentPage >= data.totalPages"
      />
      <span>/ {{ data.totalPages }}</span>
    </div>
    <button
      type="button"
      title="next"
      (click)="
        onPageChange.emit(
          currentPage < data.totalPages ? currentPage + 1 : data.totalPages
        )
      "
      class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer"
    >
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
    <button
      type="button"
      (click)="onPageChange.emit(data.totalPages)"
      title="last"
      class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer"
    >
      <fa-icon [icon]="faAnglesRight"></fa-icon>
    </button>
  </div>
</div>

<app-confirm-modal
  *ngIf="showConfirmModal"
  [confirmMessage]="confirmMessage"
  (onConfirm)="confirmDelete()"
  (onCancel)="closeConfirmModal()"
></app-confirm-modal>
