<body class="bg-gray-100 w-full">
    <div class="mx-auto bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-6">{{ selectedItem ? "Edit" : "Create" }} Movie</h2>
        
        <div *ngIf="showErrorMessage" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
            {{ errorMessage }}
        </div>
        
        <form [formGroup]="form">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="space-y-4">
                    <label for="name" class="block">Movie Name *
                        <input formControlName="name" type="text" class="w-full p-2 border hover:bg-gray-100 rounded">
                    </label>
                    <label for="origin" class="block">Origin *
                        <input formControlName="origin" type="text" class="w-full p-2 border hover:bg-gray-100 rounded">
                    </label>
                    <label for="description" class="block">Description *
                        <textarea formControlName="description" rows="3" class="w-full p-2 border hover:bg-gray-100 rounded"></textarea>
                    </label>
                    <label for="version" class="">Version *</label>
                    <select formControlName="version" class="w-full p-2 border hover:bg-gray-100 rounded">
                        <option value="_2D">2D</option>
                        <option value="_3D">3D</option>
                    </select>
                    <label for="status" class="">Status *</label>
                    <select formControlName="status" class="w-full p-2 border hover:bg-gray-100 rounded">
                        <option value="NowShowing">Now showing</option>
                        <option value="ComingSoon">Coming soon</option>
                        <option value="NotAvailable">Not available</option>
                    </select>
                    <label for="releaseDate" class="block">Start Date *
                        <input formControlName="releaseDate" type="date" class="w-full p-2 border hover:bg-gray-100 rounded">
                    </label>
                    <label for="endDate" class="block">End Date *
                        <input formControlName="endDate" type="date" class="w-full p-2 border hover:bg-gray-100 rounded">
                    </label>
                    <label for="director" class="block">Director *
                        <input formControlName="director" type="text" class="w-full p-2 border hover:bg-gray-100 rounded">
                    </label>
                    <label for="actor" class="block">Actors *
                        <input formControlName="actor" type="text" class="w-full p-2 border hover:bg-gray-100 rounded">
                    </label>
                    <label for="duration" class="block">Duration (minutes) *
                        <input formControlName="duration" type="number" min="1" class="w-full p-2 border hover:bg-gray-100 rounded">
                    </label>
                </div>
                <div>
                    <label for="genres" class="block mb-2">Type: *</label>
                    <div class="grid grid-cols-3 gap-2">
                        <ng-container *ngFor="let genre of availableGenres">
                            <label class="flex items-center">
                                <input (change)="onGenreChange($event, genre)" 
                                       type="checkbox" 
                                       class="mr-2"
                                       [checked]="isGenreSelected(genre)"> {{ genre }}
                            </label>
                        </ng-container>
                    </div>
                    
                    <label for="cinemaroomId" class="block mt-4">Cinema Room: *</label>
                    <select formControlName="cinemaroomId" class="w-full p-2 border hover:bg-gray-100 rounded">
                        <option value="3fa85f64-5717-4562-b3fc-2c963f66afa6">Cinema Room 1</option>
                        <option value="3fa85f64-5717-4562-b3fc-2c963f66afa7">Cinema Room 2</option>
                        <option value="3fa85f64-5717-4562-b3fc-2c963f66afa8">Cinema Room 3</option>
                    </select>
                    
                    <label for="schedules" class="block mt-4 mb-2">Schedule: *</label>
                    <div class="grid grid-cols-3 gap-2">
                        <ng-container *ngFor="let slot of availableSchedules">
                            <label class="flex items-center">
                                <input (change)="onScheduleChange($event, slot.id)" 
                                       type="checkbox" 
                                       class="mr-2"
                                       [checked]="isScheduleSelected(slot.id)"> {{ slot.time }}
                            </label>
                        </ng-container>
                    </div>
                    
                    <div class="flex items-center mb-6 mt-4">
                        <div class="w-24 h-24 bg-gray-200 rounded-full flex items-center justify-center mr-4 overflow-hidden">
                            <img *ngIf="avatarToDisplay()" [src]="avatarToDisplay()" class="w-full h-full object-cover" alt="Movie poster">
                            <fa-icon *ngIf="!avatarToDisplay()" [icon]="faCamera" class="text-gray-500 text-3xl"></fa-icon>
                        </div>
                        <div>
                            <input #fileInput type="file" id="fileUpload" class="hidden" (change)="onFileSelected($event)" accept="image/*">
                            <button type="button" (click)="triggerFileInput()" class="text-blue-500 hover:underline cursor-pointer">
                                {{ selectedFile || initialAvatarUrl ? 'Change Poster' : 'Upload Poster' }} *
                            </button>
                            <div *ngIf="selectedFile" class="text-sm text-gray-500 mt-1">
                                {{ selectedFile.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end mt-6 space-x-4">
                <button (click)="onClose()" type="button" class="text-black px-4 py-2 rounded mr-2 hover:underline cursor-pointer">Cancel</button>
                <button
                 (click)="onSubmit()" 
                 type="submit" 
                 class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
                 [disabled]="form.invalid">Save</button>
            </div>
        </form>
    </div>
</body>