<main class="bg-white h-full rounded-lg">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg h-full">
        <div class="flex w-full p-5 items-center justify-between">
            <h1 class="font-bold">Ticket List</h1>

            <!-- <form class="max-w-lg w-1/2">
            <div class="flex">
                <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
                    <button id="dropdown-button" data-dropdown-toggle="dropdown" class="shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">
                            All movies 
                            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                            </svg>
                    </button>
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 z-50" aria-labelledby="dropdown-button">
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mockups</button>
                    </li>
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Templates</button>
                    </li>
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Design</button>
                    </li>
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Logos</button>
                    </li>
                    </ul>
                </div>
                <div class="relative w-full">
                    <input type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Search Mockups, Logos, Design Templates..." required />
                    <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                                    <span class="sr-only">Search</span>
                    </button>
                </div>
            </div>
            </form> -->
            <div class="flex justify-between items-center px-6">
                <div class="flex items-center mb-4">
                    <button id="filterButton"
                        class="ml-2 p-2 w-10 h-10 text-gray-700 rounded-xl hover:bg-gray-100 cursor-pointer"
                        [ngClass]="isDropdownOpen ? 'bg-gray-100 shadow-inner shadow-gray-300' : ''" (click)="toggleDropdown()">
                        <fa-icon [icon]="faFilter" class="fas fa-filter w-6 h-6"></fa-icon>
                    </button>
                    <input type="text" placeholder="Search" class="flex-1 ml-2 px-4 py-2 rounded-3xl bg-gray-200 hover:bg-gray-300 cursor-pointer">
                </div>
            </div>  
    </div>
            <!-- Filter Dropdown -->
            <div id="filterDropdown" *ngIf="isDropdownOpen"
                class="bg-gray-100 px-6 py-4 border border-gray-300 rounded-lg shadow-md w-full mb-2">
            <div class="flex justify-between items-center border-b border-gray-300 mb-4">
                <h3 class="text-lg font-bold mb-4">Filter Options</h3>
                <button type="button" class="hover:underline cursor-pointer" id="resetFilter">
                    <fa-icon [icon]="faRotateLeft" class="mr-2"></fa-icon>
                    <span>Reset Filter</span>
                </button>
            </div>
        <form>
            <div class="grid grid-cols-5 gap-4">
                <div class="mb-4">
                    <label class="text-gray-500 block">Movie Id</label>
                    <div class="flex items-center space-x-2">
                        <input type="text" class="border rounded px-2 py-1 hover:bg-gray-100 cursor-pointer w-full" placeholder="Movie ID">
                    </div>
                </div>
                <div class="mb-4">
                    <label class="text-gray-500 block">Movie Name</label>
                    <div class="flex items-center space-x-2">
                        <input type="text" class="border rounded px-2 py-1 hover:bg-gray-100 cursor-pointer w-full" placeholder="Movie Name">
                    </div>
                </div>
                <div class="mb-4">
                    <label class="text-gray-500 block">Full Name</label>
                    <div class="flex items-center space-x-2">
                        <input type="text" class="border rounded px-2 py-1 hover:bg-gray-100 cursor-pointer w-full" placeholder="Fullname">
                    </div>
                </div>
                <div class="mb-4">
                    <label class="text-gray-500 block">Member Id</label>
                    <div class="flex items-center space-x-2">
                        <input type="text" class="border rounded px-2 py-1 hover:bg-gray-100 cursor-pointer w-full" placeholder="Member Id">
                    </div>
                </div>
                <div class="mb-4">
                    <label class="text-gray-500 block">Phone Number</label>
                    <div class="flex items-center space-x-2">
                        <input type="text" class="border rounded px-2 py-1 hover:bg-gray-100 cursor-pointer w-full" placeholder="PhoneNumber">
                    </div>
                </div>
            </div>
            <div class="flex justify-end">
                <button type="button"
                    class="text-black px-4 py-2 rounded mr-2 hover:bg-gray-100 hover:underline cursor-pointer"
                    (click)="toggleDropdown()">Cancel</button>
                <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 cursor-pointer">Apply</button>
            </div>
        </form>
            </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 p-5">
        <thead class="text-xs text-gray-700 uppercase bg-blue-100">
            <tr>
                <th scope="col" class="px-6 py-4">
                    No
                </th>
                <th scope="col" class="px-2 py-4">
                    Movie id
                </th>
                <th scope="col" class="px-2 py-4">
                    Member id
                </th>
                <th scope="col" class="px-2 py-4">
                    Fullname
                </th>
                <th scope="col" class="px-2 py-4">
                    Phone number
                </th>
                <th scope="col" class="px-2 py-4">
                    Movie
                </th>
                <th scope="col" class="px-2 py-4">
                    time
                </th>
                <th scope="col" class="px-2 py-4">
                    Seat
                </th>
                <th scope="col" class="px-2 py-4 text-center">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr [routerLink]="['/admin/ticketconfirm']" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600 hover:cursor-pointer">
                <th scope="row" class="px-6 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    01
                </th>
                <td class="px-2 py-1">
                    522bcs009
                </td>
                <td class="px-2 py-1">
                    522bcs009
                </td>
                <td class="px-2 py-1">
                    Le Quoc Vu
                </td>
                <td class="px-2 py-1">
                    0123456789
                </td>
                <td class="px-2 py-1">
                    Anh khong dau-T18 
                </td>
                <td class="px-2 py-1">
                    16/03/2025 - 11:00
                </td>
                <td class="px-2 py-1">
                    3F, 10G
                </td>
                <td class="px-2 py-1">
                    <div class="text-white bg-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium 
                                rounded-xl text-sm py-2 text-center">
                        Succesfull
                    </div>
                </td>
            </tr>
            
            
        </tbody>
    </table>
    <div class="flex justify-center items-center py-4 px-10 text-sm">
        <button
            class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer">
            <fa-icon [icon]="faAnglesLeft" class=""></fa-icon>
        </button>
        <button
            class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer">
            <fa-icon [icon]="faAngleLeft" class=""></fa-icon>
        </button>
        <div class="flex items-center mx-4">
            <span>Page</span>
            <input type="number" [(ngModel)]="currentPage" class="w-12 mx-2 text-center border rounded" min="1"
                [max]="totalPages">
            <span>/ {{totalPages}}</span>
        </div>
        <button
            class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer">
            <fa-icon [icon]="faAngleRight" class=""></fa-icon>
        </button>
        <button
            class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer">
            <fa-icon [icon]="faAnglesRight" class=""></fa-icon>
        </button>
    </div>


    </div>
</main>
