<div class="max-w-8xl mx-auto p-5 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-semibold mb-4">Movie List</h2>
  
    <div class="flex items-center justify-between mb-4">
      <input type="text" placeholder="Search"
        class="border border-gray-300 rounded-md px-3 py-2 w-64 focus:ring-2 focus:ring-blue-500">
      <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
        Add new movie
      </button>
    </div>
  
    <div class="overflow-hidden rounded-2xl border-2 border-[#E8F1FD]">
        <table class="min-w-full bg-white">
          <thead class="bg-[#F7F9FC] border-b border-[#E8F1FD] relative">
            <tr class="text-left">
              <th class="px-4 py-2">#</th>
              <th class="px-4 py-2">Promotion ID</th>
              <th class="px-4 py-2">Title</th>
              <th class="px-4 py-2">Start Time</th>
              <th class="px-4 py-2">End Time</th>
              <th class="px-4 py-2">Discount Level</th>
              <th class="px-4 py-2">Detail</th>
              <th class="px-4 py-2">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let promotion of promotions" class="hover:bg-gray-50 border-b border-[#E8F1FD]">
              <td class="px-4 py-2">{{ promotion.id }}</td>
              <td class="px-4 py-2">{{ promotion.promotionId }}</td>
              <td class="px-4 py-2">{{ promotion.title }}</td>
              <td class="px-4 py-2">{{ promotion.startTime }}</td>
              <td class="px-4 py-2">{{ promotion.endTime }} min</td>
              <td class="px-4 py-2">{{ promotion.discountLevel }}</td>
              <td class="px-4 py-2">{{ promotion.detail }}</td>
              <td class="px-4 py-2 flex gap-2">
                <button class="text-blue-500 hover:text-blue-700">✏️</button>
                <button class="text-red-500 hover:text-red-700">🗑️</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      
      
      
      
  
    <div class="flex justify-between items-center mt-4">
      <button class="bg-gray-300 px-4 py-2 rounded-md hover:bg-gray-400">Previous</button>
      <div class="space-x-2">
        <button class="px-3 py-2 rounded-md bg-blue-500 text-white">1</button>
        <button class="px-3 py-2 rounded-md bg-gray-300 hover:bg-gray-400">2</button>
        <button class="px-3 py-2 rounded-md bg-gray-300 hover:bg-gray-400">3</button>
      </div>
      <button class="bg-gray-300 px-4 py-2 rounded-md hover:bg-gray-400">Next</button>
    </div>
  </div>
  