<div class="mx-auto p-5 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-semibold mb-4">Promotion List</h2>
  
    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center mb-4">
          <button class="mr-2 p-2 w-10 h-10 rounded-xl shadow-md hover:bg-gray-100 cursor-pointer">
              <fa-icon [icon]="faArrowLeft" class="w-6 h-6"></fa-icon>
          </button>
          <input type="text" placeholder="Search" class="flex-1 px-4 py-2 rounded-3xl bg-gray-200 hover:bg-gray-300 cursor-pointer">
          <button id="filterButton"
              class="ml-2 p-2 w-10 h-10 text-gray-700 rounded-xl hover:bg-gray-100 cursor-pointer"
              [ngClass]="isDropdownOpen ? 'bg-gray-100 shadow-inner shadow-gray-300' : ''" (click)="toggleDropdown()">
              <fa-icon [icon]="faFilter" class="fas fa-filter w-6 h-6"></fa-icon>
          </button>
      </div>
      <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
        <a href="./admin/addpromotion">Add new promotion</a>
      </button>
    </div>

    <!-- Filter Dropdown -->
    <div id="filterDropdown" *ngIf="isDropdownOpen"
        class="bg-gray-100 mb-1 mx-4 px-8 py-4 border border-gray-300 rounded-lg shadow-md">
        <div class="flex justify-between items-center border-b border-gray-300 mb-4">
            <h3 class="text-lg font-bold mb-4">Filter Options</h3>
            <button type="button" class="hover:underline cursor-pointer" id="resetFilter">
                <fa-icon [icon]="faRotateLeft" class="mr-2"></fa-icon>
                <span>Reset Filter</span>
            </button>
        </div>
        <form>
            <div class="grid grid-cols-3 gap-4">
                <div class="mb-4">
                    <label class="text-gray-500 block">Seat Capacity</label>
                    <div class="flex items-center space-x-2">
                        <input type="number" class="border rounded px-2 py-1 hover:bg-gray-100 cursor-pointer w-full" placeholder="Min">
                        <input type="number" class="border rounded px-2 py-1 hover:bg-gray-100 cursor-pointer w-full" placeholder="Max">
                    </div>
                </div>
            </div>
            <div class="flex justify-end">
                <button type="button"
                    class="text-black px-4 py-2 rounded mr-2 hover:bg-gray-100 hover:underline cursor-pointer"
                    (click)="toggleDropdown()">Cancel</button>
                <button type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 cursor-pointer">Apply</button>
            </div>
        </form>
    </div>
  
    <div class="rounded-2xl border-2 border-[#E8F1FD] overflow-hidden">
      <table class="hidden md:table min-w-full bg-white">
        <thead class="bg-[#F7F9FC] border-b border-[#E8F1FD]">
          <tr class="text-left">
            <th class="px-4 py-2">#</th>
            <th class="px-4 py-2">Promotion ID</th>
            <th class="px-4 py-2">Title</th>
            <th class="px-4 py-2">Start Time</th>
            <th class="px-4 py-2">End Time</th>
            <th class="px-4 py-2">Discount Level</th>
            <th class="px-4 py-2">Detail</th>
            <th class="px-4 py-2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let promotion of paginatedPromotions" class="hover:bg-gray-50 border-b border-[#E8F1FD]">
            <td class="px-4 py-2">{{ promotion.id }}</td>
            <td class="px-4 py-2">{{ promotion.promotionId }}</td>
            <td class="px-4 py-2">{{ promotion.title }}</td>
            <td class="px-4 py-2">{{ promotion.startTime }}</td>
            <td class="px-4 py-2">{{ promotion.endTime }} min</td>
            <td class="px-4 py-2">{{ promotion.discountLevel }}</td>
            <td class="px-4 py-2">{{ promotion.detail }}</td>
            <td class="px-4 py-2">
              <div class="flex justify-center items-center gap-2">
                <button class="text-blue-500 hover:text-blue-700">
                  <a href="./admin/updatepromotion">
                    <fa-icon [icon]="faEdit" class="text-gray-500"></fa-icon>
                  </a>
                </button>
                <button class="text-red-500 hover:text-red-700">
                  <a href="">
                    <fa-icon [icon]="faTrash" class="text-gray-500"></fa-icon>
                  </a>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        
      </table>
    
      <!-- Mobile View -->
      <div class="md:hidden">
        <div *ngFor="let promotion of paginatedPromotions" class="flex justify-between border-b border-[#E8F1FD] p-4 bg-white items-center">
          <div>
            <p class="font-bold"># {{ promotion.id }}</p>
            <p><span class="font-semibold">Promotion ID:</span> {{ promotion.promotionId }}</p>
            <p><span class="font-semibold">Title:</span> {{ promotion.title }}</p>
            <p><span class="font-semibold">Start Time:</span> {{ promotion.startTime }}</p>
            <p><span class="font-semibold">End Time:</span> {{ promotion.endTime }} min</p>
            <p><span class="font-semibold">Discount Level:</span> {{ promotion.discountLevel }}</p>
            <p><span class="font-semibold">Detail:</span> {{ promotion.detail }}</p>
          </div>
          
          <div class="flex gap-4 ml-auto">
            <button class="text-blue-500 hover:text-blue-700">
              <a href="./admin/updatepromotion">
                <fa-icon [icon]="faEdit" class="text-gray-500"></fa-icon>
              </a>
            </button>
            <button class="text-red-500 hover:text-red-700">
              <a href="">
                <fa-icon [icon]="faTrash" class="text-gray-500"></fa-icon>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
    

      <div class="flex justify-center items-center py-4 px-10 text-sm">
        <button
            class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer">
            <fa-icon [icon]="faAnglesLeft" class=""></fa-icon>
        </button>
        <button
            class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer">
            <fa-icon [icon]="faAngleLeft" class=""></fa-icon>
        </button>
        <div class="flex items-center mx-4">
            <span>Page</span>
            <input type="number" [(ngModel)]="currentPage" class="w-12 mx-2 text-center border rounded" min="1"
                [max]="totalPages">
            <span>/ {{totalPages}}</span>
        </div>
        <button
            class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer">
            <fa-icon [icon]="faAngleRight" class=""></fa-icon>
        </button>
        <button
            class="w-8 h-8 flex justify-center items-center text-gray-500 px-4 py-1 rounded hover:bg-gray-100 cursor-pointer">
            <fa-icon [icon]="faAnglesRight" class=""></fa-icon>
        </button>
      </div>
      
      <!-- <div class="flex justify-between items-center mt-4">
        <button (click)="goToPage(currentPage - 1)" 
          [disabled]="currentPage === 1"
          class="bg-gray-300 px-4 py-2 rounded-md hover:bg-gray-400 disabled:opacity-50">
          Previous
        </button>
      
        <div class="space-x-2">
          <button *ngFor="let page of [].constructor(totalPages); let i = index"
            (click)="goToPage(i + 1)"
            [ngClass]="{'bg-blue-500 text-white': currentPage === i + 1, 'bg-gray-300 hover:bg-gray-400': currentPage !== i + 1}"
            class="px-3 py-2 rounded-md">
            {{ i + 1 }}
          </button>
        </div>
      
        <button (click)="goToPage(currentPage + 1)" 
          [disabled]="currentPage === totalPages"
          class="bg-gray-300 px-4 py-2 rounded-md hover:bg-gray-400 disabled:opacity-50">
          Next
        </button>
      </div> -->
      
  </div>
  