<div
  class="fixed transform translate-y-[-50%] top-1/2 left-1/2 translate-x-[-50%] flex items-center justify-center z-50 shadow-[10px_20px_35px_rgba(0,0,0,0.25)] shadow-slate-800"
>
  <div
    class="w-screen md:w-[500px] bg-[#0B0D13] shadow-lg rounded-lg p-10 md:p-8 *:text-white"
  >
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-semibold text-center w-full">LOGIN</h2>
      <button
        title="Close modal"
        type="button"
        class="text-white pl-4 py-2 rounded-md cursor-pointer"
        (click)="closeModal()"
      >
        <fa-icon [icon]="faTimes" class="text-2xl"></fa-icon>
      </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4">
        <label for="email" class="block mb-2"
          >Email<span class="text-red-500 ml-1">*</span></label
        >
        <input
          id="email"
          type="email"
          formControlName="email"
          class="w-full bg-[#0B0D13] px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-gray-400"
          placeholder="Enter email"
          required
          [ngClass]="{
            'border-red-500 bg-red-100 text-red-500':
              form.get('email')?.invalid && form.get('email')?.touched
          }"
        /><span
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          class="text-red-500 text-sm"
          >Email is required.</span
        >
      </div>
      <div class="form-group mb-4">
        <label for="password" class="block mb-2"
          >Password<span class="text-red-500 ml-1">*</span></label
        >
        <div class="relative">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            class="w-full bg-[#0B0D13] px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-gray-400 pr-10"
            placeholder="Enter password"
            required
            [ngClass]="{
              'border-red-500 bg-red-100 text-red-500':
                form.get('password')?.invalid && form.get('password')?.touched
            }"
          />
          <button
            type="button"
            class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-200 transition-colors"
            (click)="showPassword = !showPassword"
            aria-label="Toggle password visibility"
            [ngClass]="{
              '*:text-black':
                form.get('password')?.invalid && form.get('password')?.touched
            }"
          >
            <fa-icon
              *ngIf="!showPassword"
              [icon]="faEye"
              class="text-l text-white"
            ></fa-icon>
            <fa-icon
              *ngIf="showPassword"
              [icon]="faEyeSlash"
              class="text-l text-white"
            ></fa-icon>
          </button>
        </div>
        <span
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
          class="text-red-500 text-sm"
          >Password is required.</span
        >
      </div>
      <div class="flex justify-end items-end">
        <a
          routerLink="/forgot-password"
          class="py-1 text-right text-[#EF4444] hover:underline"
          >Forgot password?</a
        >
      </div>
      <p
        *ngIf="showErrorMessage"
        class="text-red-500 text-center text-sm italic"
      >
        {{ errorMessage }}
      </p>

      <button
        type="submit"
        class="w-full bg-[#EF4444] text-white py-2 rounded-md mt-4 hover:bg-[#E30713] cursor-pointer transition"
      >
        Login
      </button>
    </form>

    <p class="text-center mt-4 border-t pt-4 border-gray-300">
      Don't have an account yet?
      <a
        (click)="openModal()"
        class="text-[#EF4444] hover:underline cursor-pointer"
        >Register Now!</a
      >
    </p>
  </div>
</div>
