<div
  class="fixed transform translate-y-[-50%] top-1/2 left-1/2 translate-x-[-50%] flex items-center justify-center z-50 shadow-[10px_20px_35px_rgba(0,0,0,0.25)] shadow-slate-800"
>
  <div
    class="w-screen md:w-[500px] bg-[#0B0D13] shadow-lg rounded-lg p-10 md:p-8 *:text-white"
  >
    <!-- <h2 class="text-2xl font-semibold text-center mb-4">LOGIN</h2> -->
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-semibold text-center w-full">LOGIN</h2>
      <button
        class="text-white pl-4 py-2 rounded-md cursor-pointer"
        (click)="closeModal()"
      >
        <fa-icon [icon]="faTimes" class="text-2xl"></fa-icon>
      </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4">
        <label for="email" class="block mb-2">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="w-full bg-[#0B0D13] px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-gray-400"
          placeholder="Enter email"
          required
        /><span
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          class="text-red-500 text-sm"
          >Email is required with at least 3 characters and at most 50
          characters.</span
        >
      </div>
      <div class="form-group mb-4">
        <label for="password" class="block mb-2">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="w-full bg-[#0B0D13] px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-gray-400"
          placeholder="Enter password"
          required
        />
        <span
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
          class="text-red-500 text-sm"
          >Password must include at least 1 uppercase, 1 lowercase, 1 digit, and
          1 special character.</span
        >
      </div>
      <div class="flex justify-end items-end">
        <a href="#" class="py-1 text-right text-[#EF4444] hover:underline"
          >Forgot password?</a
        >
      </div>

      <button
        type="submit"
        class="w-full bg-[#EF4444] text-white py-2 rounded-md mt-4 hover:bg-[#E30713] cursor-pointer transition"
      >
        Login
      </button>
    </form>

    <p class="text-center mt-4 border-t pt-4 border-gray-300">
      Don't have an account yet?
      <a
        (click)="openModal()"
        class="text-[#EF4444] hover:underline cursor-pointer"
        >Register Now!</a
      >
    </p>
  </div>
</div>
