<section class="">
    <div class="bg-white rounded-lg shadow min-w-[600px]">
        <h2 class="text-xl font-bold p-6">Room Management</h2>
        <div class="flex justify-between items-center px-6">
            <div class="flex items-center mb-4">
                <button class="mr-2 p-2 rounded-xl shadow-md">
                    <fa-icon [icon]="faArrowLeft" class="w-6 h-6"></fa-icon>
                </button>
                <input type="text" placeholder="Search" class="flex-1 px-4 py-2 rounded-3xl bg-gray-200">
            </div>
        </div>
        <table class="w-full text-left text-sm">
            <thead class="bg-blue-100 border-t border-gray-300">
                <tr>
                    <th class="py-2 px-4">#</th>
                    <th class="py-2 px-4">Cinema room ID</th>
                    <th class="py-2 px-4">Cinema room</th>
                    <th class="py-2 px-4">Seat capacity</th>
                    <th class="py-2 px-4"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-t border-gray-300">
                    <td class="py-2 px-4">1</td>
                    <td class="py-2 px-4">001</td>
                    <td class="py-2 px-4">Cinema Room 01</td>
                    <td class="py-2 px-4">48</td>
                    <td class="py-2 px-4">
                        <button>
                            <fa-icon [icon]="faInfoCircle" class=" text-gray-500 w-6 h-6"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="py-2 px-4">2</td>
                    <td class="py-2 px-4">002</td>
                    <td class="py-2 px-4">Cinema Room 02</td>
                    <td class="py-2 px-4">48</td>
                    <td class="py-2 px-4">
                        <button>
                            <fa-icon [icon]="faInfoCircle" class=" text-gray-500 w-6 h-6"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="py-2 px-4">3</td>
                    <td class="py-2 px-4">003</td>
                    <td class="py-2 px-4">Cinema Room 03</td>
                    <td class="py-2 px-4">48</td>
                    <td class="py-2 px-4">
                        <button>
                            <fa-icon [icon]="faInfoCircle" class=" text-gray-500 w-6 h-6"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="py-2 px-4">4</td>
                    <td class="py-2 px-4">004</td>
                    <td class="py-2 px-4">Cinema Room 04</td>
                    <td class="py-2 px-4">48</td>
                    <td class="py-2 px-4">
                        <button>
                            <fa-icon [icon]="faInfoCircle" class=" text-gray-500 w-6 h-6"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="py-2 px-4">5</td>
                    <td class="py-2 px-4">005</td>
                    <td class="py-2 px-4">Cinema Room 05</td>
                    <td class="py-2 px-4">48</td>
                    <td class="py-2 px-4">
                        <button>
                            <fa-icon [icon]="faInfoCircle" class=" text-gray-500 w-6 h-6"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="py-2 px-4">6</td>
                    <td class="py-2 px-4">006</td>
                    <td class="py-2 px-4">Cinema Room 06</td>
                    <td class="py-2 px-4">48</td>
                    <td class="py-2 px-4">
                        <button>
                            <fa-icon [icon]="faInfoCircle" class=" text-gray-500 w-6 h-6"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="py-2 px-4">7</td>
                    <td class="py-2 px-4">007</td>
                    <td class="py-2 px-4">Cinema Room 07</td>
                    <td class="py-2 px-4">48</td>
                    <td class="py-2 px-4">
                        <button>
                            <fa-icon [icon]="faInfoCircle" class=" text-gray-500 w-6 h-6"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="py-2 px-4">8</td>
                    <td class="py-2 px-4">008</td>
                    <td class="py-2 px-4">Cinema Room 08</td>
                    <td class="py-2 px-4">48</td>
                    <td class="py-2 px-4">
                        <button>
                            <fa-icon [icon]="faInfoCircle" class=" text-gray-500 w-6 h-6"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="py-2 px-4">9</td>
                    <td class="py-2 px-4">009</td>
                    <td class="py-2 px-4">Cinema Room 09</td>
                    <td class="py-2 px-4">48</td>
                    <td class="py-2 px-4">
                        <button>
                            <fa-icon [icon]="faInfoCircle" class=" text-gray-500 w-6 h-6"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr class="border-t border-gray-300">
                    <td class="py-2 px-4">10</td>
                    <td class="py-2 px-4">010</td>
                    <td class="py-2 px-4">Cinema Room 10</td>
                    <td class="py-2 px-4">48</td>
                    <td class="py-2 px-4">
                        <button>
                            <fa-icon [icon]="faInfoCircle" class=" text-gray-500 w-6 h-6"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-between items-center py-4 px-10 text-sm">
            <button class="w-30 text-gray-500 border border-gray-300 rounded-xl px-4 py-1">
                <fa-icon [icon]="faAngleLeft"></fa-icon>
                Previous
            </button>
            <div class="flex space-x-2">
                <button class="w-8 h-8 bg-gray-200 text-blue-500 rounded">1</button>
                <button class="w-8 h-8 rounded">2</button>
                <button class="w-8 h-8 rounded">3</button>
            </div>
            <button class="w-30 text-gray-500 border border-gray-300 rounded-xl px-4 py-1">
                Next
                <fa-icon [icon]="faAngleRight"></fa-icon>
            </button>
        </div>
    </div>
</section>

<app-room-detail></app-room-detail>