<body class="bg-gray-100 w-full">
    <div class="mx-auto bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-semibold mb-6">Add Promotion</h2>

        <div *ngIf="showErrorMessage" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
            {{ errorMessage }}
        </div>

        <form (ngSubmit)="onSubmit()">
            <div class="space-y-4">
                <label class="block">Title<span class="text-red-500 ml-1">*</span>
                    <input type="text" name="title" class="w-full p-2 border hover:bg-gray-100 rounded"
                        [(ngModel)]="promotion.promotionTitle" required>
                </label>
                <label class="block">Description<span class="text-red-500 ml-1">*</span>
                    <input type="text" name="description" class="w-full p-2 border hover:bg-gray-100 rounded"
                        [(ngModel)]="promotion.description" required>
                </label>
                <label class="block">Discount (%)<span class="text-red-500 ml-1">*</span>
                    <input type="number" name="discount" class="w-full p-2 border hover:bg-gray-100 rounded"
                        [(ngModel)]="promotion.discount" required>
                </label>
                <label class="block">Start Time<span class="text-red-500 ml-1">*</span>
                    <input type="date" name="startDate" class="w-full p-2 border hover:bg-gray-100 rounded"
                        [(ngModel)]="promotion.startDate" required>
                </label>
                <label class="block">End Time<span class="text-red-500 ml-1">*</span>
                    <input type="date" name="endDate" class="w-full p-2 border hover:bg-gray-100 rounded"
                        [(ngModel)]="promotion.endDate" required>
                </label>
                <div class="flex items-center mb-6 mt-4">
                    <div class="w-24 h-24 bg-gray-200 rounded-full flex items-center justify-center mr-4 overflow-hidden">
                        <!-- Show camera icon if no image is selected, otherwise show preview -->
                        <ng-container *ngIf="!imagePreviewUrl; else imagePreview">
                            <fa-icon [icon]="faCamera" class="text-gray-500 text-3xl"></fa-icon>
                        </ng-container>
                        <ng-template #imagePreview>
                            <img [src]="imagePreviewUrl" alt="Image preview" class="w-full h-full object-cover">
                        </ng-template>
                    </div>
                    <button type="button" class="text-blue-500 hover:underline cursor-pointer mr-4">
                        <label for="fileUpload" class="cursor-pointer">
                            {{ selectedFile ? 'Change Image' : 'Upload Image' }}
                        </label>
                        <input class="hidden" type="file" id="fileUpload" (change)="onFileSelected($event)" accept="image/*">
                        <span class="text-red-500 ml-1">*</span>
                    </button>
                    <span *ngIf="selectedFile" class="text-sm text-gray-500">
                        {{ selectedFile.name }}
                    </span>
                </div>
            </div>
            <div class="flex justify-end mt-6 space-x-4">
                <button type="button" class="text-black px-4 py-2 rounded mr-2 hover:underline cursor-pointer"
                    (click)="cancel()">Cancel</button>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Save</button>
            </div>
        </form>
    </div>
</body>