<div
  class="fixed transform translate-y-[-50%] top-1/2 left-1/2 translate-x-[-50%] flex items-center justify-center z-50 shadow-[10px_20px_35px_rgba(0,0,0,0.25)] shadow-slate-800 rounded-2xl"
>
  <div
    class="w-screen md:w-[500px] bg-[#0B0D13] shadow-lg rounded-lg p-10 md:p-8 *:text-white"
  >
    <h2 class="text-2xl font-semibold text-center mb-4 text-white">
      CHANGE PASSWORD
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="*:text-white">
      <div class="mb-4 w-full">
        <label for="password" class="block mb-2"
          >Password<span class="text-red-500 ml-1">*</span></label
        >
        <div class="relative">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            class="w-full bg-[#0B0D13] px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-gray-400 pr-10"
            placeholder="Enter password"
            required
            [ngClass]="{
              'border-red-500 bg-red-100 text-red-500':
                form.get('password')?.invalid && form.get('password')?.touched
            }"
          />
          <button
            type="button"
            class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-200 transition-colors"
            (click)="showPassword = !showPassword"
            aria-label="Toggle password visibility"
            [ngClass]="{
              '*:text-black':
                form.get('password')?.invalid && form.get('password')?.touched
            }"
          >
            <fa-icon
              *ngIf="!showPassword"
              [icon]="faEye"
              class="text-l text-white"
            ></fa-icon>
            <fa-icon
              *ngIf="showPassword"
              [icon]="faEyeSlash"
              class="text-l text-white"
            ></fa-icon>
          </button>
        </div>
        <span
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
          class="text-red-500 text-sm"
        >
          Password must include at least 1 uppercase, 1 lowercase, 1 digit, and
          1 special character, with 8-20 characters.
        </span>
      </div>
      <div class="mb-4 w-full">
        <label for="newPassword" class="block mb-2"
          >New Password<span class="text-red-500 ml-1">*</span></label
        >
        <div class="relative">
          <input
            id="newPassword"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="newPassword"
            class="w-full bg-[#0B0D13] px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-gray-400 pr-10"
            placeholder="Enter New Password"
            required
            [ngClass]="{
              'border-red-500 bg-red-100 text-red-500':
                form.get('newPassword')?.invalid &&
                form.get('newPassword')?.touched
            }"
          />
          <button
            type="button"
            class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-200 transition-colors"
            (click)="showPassword = !showPassword"
            aria-label="Toggle password visibility"
            [ngClass]="{
              '*:text-black':
                form.get('newPassword')?.invalid &&
                form.get('newPassword')?.touched
            }"
          >
            <fa-icon
              *ngIf="!showPassword"
              [icon]="faEye"
              class="text-l text-white"
            ></fa-icon>
            <fa-icon
              *ngIf="showPassword"
              [icon]="faEyeSlash"
              class="text-l text-white"
            ></fa-icon>
          </button>
        </div>
        <span
          *ngIf="
            form.get('newPassword')?.invalid && form.get('newPassword')?.touched
          "
          class="text-red-500 text-sm"
        >
          Password must include at least 1 uppercase, 1 lowercase, 1 digit, and
          1 special character, with 8-20 characters.
        </span>
      </div>

      <div class="mb-4 w-full">
        <label for="confirmPassword" class="block mb-2"
          >Confirm Password<span class="text-red-500 ml-1">*</span></label
        >
        <div class="relative">
          <input
            id="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            class="w-full bg-[#0B0D13] px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-gray-400 pr-10"
            placeholder="Confirm password"
            required
            [ngClass]="{
              'border-red-500 bg-red-100 text-red-500':
                form.get('confirmPassword')?.invalid &&
                form.get('confirmPassword')?.touched || 
                form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.dirty
            }"
          />
          <button
            type="button"
            class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-200 transition-colors"
            (click)="showConfirmPassword = !showConfirmPassword"
            aria-label="Toggle confirm password visibility"
            [ngClass]="{
              '*:text-black':
                form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched || 
                form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.dirty
            }"
          >
            <fa-icon
              *ngIf="!showConfirmPassword"
              [icon]="faEye"
              class="text-l text-white"
            ></fa-icon>
            <fa-icon
              *ngIf="showConfirmPassword"
              [icon]="faEyeSlash"
              class="text-l text-white"
            ></fa-icon>
          </button>
        </div>
        <span
          *ngIf="
            form.get('confirmPassword')?.invalid &&
            form.get('confirmPassword')?.touched
          "
          class="text-red-500 text-sm"
        >
          Confirm password is required
        </span>
        <span
          *ngIf="
            !form.get('confirmPassword')?.errors?.['required'] &&
            form.errors?.['passwordMismatch'] && 
            form.get('confirmPassword')?.dirty"
          class="text-red-500 text-sm"
        >
          Passwords do not match
        </span>
      </div>
      <div class="flex space-x-2">
        <button
          type="button"
          (click)="closeModal()"
          class="w-full mt-4 bg-gray-900 text-white py-2 rounded-md hover:bg-gray-700 cursor-pointer transition"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="w-full mt-4 bg-[#EF4444] text-white py-2 rounded-md hover:bg-[#E30713] cursor-pointer transition"
        >
          Change Password
        </button>
      </div>
    </form>

    <p
      class="text-green-500 mt-3 text-center text-sm italic"
      *ngIf="successMessage"
    >
      {{ successMessage }}
    </p>
    <p
      class="text-red-500 mt-3 text-center text-sm italic whitespace-normal break-words"
      *ngIf="showErrorMessage"
    >
      {{ errorMessage }}
    </p>
  </div>
</div>
