<section class="max-w-6xl mx-2 md:mx-auto py-10 text-white">
  <form>
    <div class="flex justify-between items-center mb-4">
      <div class="flex items-center">
        <input
          type="text"
          placeholder="Search"
          class="flex-1 px-4 py-2 rounded bg-[#0B0D13] hover:bg-gray-800 cursor-pointer"
        />
        <button
          title="filter"
          type="button"
          id="filterButton"
          class="ml-2 p-2 w-10 h-10 text-white rounded-xl hover:bg-gray-700 cursor-pointer"
          [ngClass]="
            isDropdownOpen ? 'bg-gray-800 shadow-inner shadow-gray-900' : ''
          "
          (click)="toggleDropdown()"
        >
          <fa-icon [icon]="faFilter" class="fas fa-filter w-6 h-6"></fa-icon>
        </button>
      </div>
    </div>
    <div
      id="filterDropdown"
      *ngIf="isDropdownOpen"
      class="bg-gray-800 my-4 p-4 border border-gray-500 rounded-lg shadow-md w-full"
    >
      <div
        class="flex justify-between items-center border-b border-gray-300 mb-4"
      >
        <h3 class="text-lg font-bold mb-4">Filter Options</h3>
        <button
          type="button"
          class="hover:underline cursor-pointer"
          id="resetFilter"
        >
          <fa-icon [icon]="faRotateLeft" class="mr-2"></fa-icon>
          <span>Reset Filter</span>
        </button>
      </div>
      <div class="flex flex-row gap-2">
        <!-- From Date -->
        <div class="flex-1">
          <label class="text-sm">From Date</label>
          <div class="relative">
            <input
              id="fromDate"
              name="fromDate"
              title="From date"
              type="date"
              class="w-full mt-1 p-2 bg-[#0B0D13] border border-white rounded appearance-none"
            />
            <span
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-white pointer-events-none"
            >
              <fa-icon [icon]="faCalendar"></fa-icon>
            </span>
          </div>
        </div>

        <!-- To Date -->
        <div class="flex-1">
          <label class="text-sm">To Date</label>
          <div class="relative">
            <input
              id="toDate
              name="
              toDate
              title="To date"
              type="date"
              class="w-full mt-1 p-2 bg-[#0B0D13] border border-white rounded appearance-none"
            />
            <span
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-white pointer-events-none"
            >
              <fa-icon [icon]="faCalendar"></fa-icon>
            </span>
          </div>
        </div>

        <!-- Status -->
        <div class="flex-1">
          <label class="text-sm">Status</label>
          <select
            title="status"
            formControlName="status"
            class="w-full mt-1 p-2.5 border border-white rounded bg-[#0B0D13]"
          >
            <option value="" class="bg-[#0B0D13] text-white">All</option>
            <option value="ADDED" class="bg-[#0B0D13] text-white">ADDED</option>
            <option value="USED" class="bg-[#0B0D13] text-white">USED</option>
          </select>
        </div>
      </div>
      <div class="flex flex-row justify-end gap-2 mt-4">
        <button
          type="button"
          class="w-full sm:w-auto px-8 border border-white text-white p-2 rounded hover:bg-slate-600 transition cursor-pointer"
          (click)="toggleDropdown()"
        >
          Cancel
        </button>

        <button
          type="submit"
          class="w-full sm:w-auto px-8 p-2 bg-[#EF4444] hover:bg-[#E30713] rounded text-white transition cursor-pointer"
        >
          Apply
        </button>
      </div>
    </div>
  </form>
  <!-- Table -->
  <div class="overflow-x-auto">
    <table class="min-w-[600px] w-full text-sm *:text-center">
      <thead>
        <tr class="bg-[#6A1B1B] text-white border-b border-slate-400 *:p-4">
          <th>No</th>
          <th>MOVIE NAME</th>
          <th>BOOKING DATE</th>
          <th>TOTAL AMOUNT</th>
          <th>STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-800 border-b border-slate-400 *:py-4">
          <td>1</td>
          <td>CAPTAIN AMERICA: Thế giới mới</td>
          <td>15/03/2025 16:20</td>
          <td>135.000 VND</td>
          <td>SUCCESS</td>
        </tr>
        <tr class="bg-[#6A1B1B] border-b border-slate-400 *:py-4">
          <td>2</td>
          <td>DOCTOR STRANGE: Phù thủy tối thượng</td>
          <td>19/03/2025 09:15</td>
          <td>40.000 VND</td>
          <td>WAITING FOR TICKET</td>
        </tr>
        <tr class="bg-gray-800 border-b border-slate-400 *:py-4">
          <td>3</td>
          <td>Nhà gia tiên</td>
          <td>19/03/2025 08:52</td>
          <td>150.000 VND</td>
          <td>SUCCESS</td>
        </tr>
        <tr class="bg-[#6A1B1B] border-b border-slate-400 *:py-4">
          <td>4</td>
          <td>Nụ hôn bạc tỷ</td>
          <td>18/03/2025 10:23</td>
          <td>80.000 VND</td>
          <td>WAITING FOR TICKET</td>
        </tr>
        <tr class="bg-gray-800 border-b border-slate-400 *:py-4">
          <td>5</td>
          <td>PADDINGTON: Gấu thủ chu du</td>
          <td>19/03/2025 20:15</td>
          <td>35.000 VND</td>
          <td>WAITING FOR TICKET</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="flex justify-end mt-6 space-x-2 *:cursor-pointer">
    <button
      type="button"
      class="w-8 h-8 rounded bg-[#EF4444] hover:bg-[#E30713] text-white"
    >
      1
    </button>
    <button
      type="button"
      class="w-8 h-8 rounded border border-gray-500 hover:bg-gray-500"
    >
      2
    </button>
    <button
      type="button"
      class="w-8 h-8 rounded border border-gray-500 hover:bg-gray-500"
    >
      3
    </button>
  </div>
</section>
