<section *ngIf="!isShowDetail && !isShowForm">
  <div class="bg-white rounded-lg shadow overflow-x-auto">
    <h2 class="text-xl font-bold p-4">Movie Management</h2>
    <form [formGroup]="searchForm" class="px-4">
      <div class="flex justify-between items-center">
        <div class="flex flex-row gap-4">
          <div class="flex items-center gap-2 bg-gray-200 rounded-3xl px-2">
            <!-- Search Input -->
            <input
              type="text"
              placeholder="Enter keyword"
              formControlName="keyword"
              class="flex-1 bg-transparent outline-none p-2 rounded-3xl w-[240px]"
            />

          </div>
          <!-- Search Button -->
          <button
            title="Search"
            type="submit"
            (click)="onSubmit()"
            class="p-2 w-10 h-10 text-gray-700 rounded-xl hover:bg-gray-300 cursor-pointer disabled:cursor-not-allowed"
            [disabled]="searchForm.invalid"
          >
            <fa-icon [icon]="faSearch" class="w-6 h-6"></fa-icon>
          </button>
        </div>

        <button
          type="button"
          (click)="create()"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 cursor-pointer"
        >
          Add new movie
        </button>
      </div>
    </form>
    <app-table
      [isShowNumber]="true"
      [columns]="columns"
      [data]="data"
      [currentPage]="currentPage"
      [lockable]="false"
      [infoable]="false"
      (onView)="view($event)"
      (onDelete)="delete($event)"
      (onEdit)="edit($event)"
      (onPageChange)="onPageChange($event)"
    >
    </app-table>
  </div>
</section>

<app-updatemovie
  *ngIf="isShowForm"
  [selectedItem]="selectedItem"
  (close)="onCloseDetail()"
></app-updatemovie>
