<section *ngIf="profile, else unAuthorized"
  class="flex-grow min-h-screen pt-12 pb-4 bg-[#10141B] *:text-white inset-0 bg-opacity-80 w-full"
>
  <div class="flex justify-center space-x-4 pt-14 *:text-sm">
    <button
      type="button"
      (click)="changeTab('myProfile')"
      class="px-4 py-2 rounded-full hover:cursor-pointer"
      [ngClass]="
        activeTab === 'myProfile'
          ? 'bg-[#EF4444] hover:bg-[#E30713]'
          : 'border border-white hover:bg-gray-500'
      "
    >
      My Account
    </button>
    <button
      type="button"
      (click)="changeTab('bookedTickets')"
      class="px-4 py-2 rounded-full hover:cursor-pointer"
      [ngClass]="
        activeTab === 'bookedTickets'
          ? 'bg-[#EF4444] hover:bg-[#E30713]'
          : 'border border-white hover:bg-gray-500'
      "
    >
      Booked Tickets
    </button>
    <button
      type="button"
      (click)="changeTab('scoreHistory')"
      class="px-4 py-2 rounded-full hover:cursor-pointer"
      [ngClass]="
        activeTab === 'scoreHistory'
          ? 'bg-[#EF4444] hover:bg-[#E30713]'
          : 'border border-white hover:bg-gray-500'
      "
    >
      History of Score
    </button>
  </div>
  <!-- My Profile -->
  <app-edit-profile *ngIf="activeTab === 'myProfile'"></app-edit-profile>

  <!-- Booked Tickets -->
  <app-booked-tickets
    *ngIf="activeTab === 'bookedTickets'"
  ></app-booked-tickets>

  <!-- Score History -->
  <app-score-history *ngIf="activeTab === 'scoreHistory'"></app-score-history>
</section>

<ng-template #unAuthorized>
  <div class="flex flex-col justify-center items-center h-screen bg-[#10141B] *:text-white">
    <h1 class="mb-8 text-xl md:text-2xl font-bold">You must log in to access this page!</h1>
    <div class="flex md:space-x-8 space-x-4">
      <button
        type="button"
        (click)="openRegister()"
        class="border border-white text-white px-10 py-2 rounded-full hover:bg-white hover:text-black"
      >
        Register
      </button>
      <button
        type="button"
        (click)="openLogin()"
        class="bg-red-500 whitespace-nowrap px-10 py-2 rounded-full hover:bg-red-600"
      >
        Log in
      </button>
    </div>
  </div>
</ng-template>
