<section class="">
    <div class="bg-white rounded-lg shadow min-w-[600px]">
        <h2 class="text-xl font-bold p-6">Employee Management</h2>
        <div class="flex justify-between items-center px-6">
            <div class="flex items-center mb-4">
                <button class="mr-2 p-2 rounded-xl shadow-md">
                    <fa-icon [icon]="faArrowLeft" class=" w-6 h-6"></fa-icon>
                </button>
                <input type="text" placeholder="Search" class="flex-1 px-4 py-2 rounded-3xl bg-gray-200">
            </div>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-xl">Add new employee</button>
        </div>
        <div class="overflow-x-auto">
            <table class="w-full text-left text-sm">
                <thead class="bg-blue-100 border-t border-gray-300">
                    <tr>
                        <th class="py-2 px-4">#</th>
                        <th class="py-2 px-4">Username</th>
                        <th class="py-2 px-4">Full name</th>
                        <th class="py-2 px-4">Date of birth</th>
                        <th class="py-2 px-4">Gender</th>
                        <th class="py-2 px-4">Email</th>
                        <th class="py-2 px-4">Phone number</th>
                        <th class="py-2 px-4">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-t border-gray-300">
                        <td class="py-2 px-4">1</td>
                        <td class="py-2 px-4">nhanvien01</td>
                        <td class="py-2 px-4">Le Quoc Vu</td>
                        <td class="py-2 px-4">01/01/2000</td>
                        <td class="py-2 px-4">Male</td>
                        <td class="py-2 px-4">vulq&#64;domain.com</td>
                        <td class="py-2 px-4">0987654321</td>
                        <td class="py-2 px-4">
                            <div class="flex justify-center items-center">
                                <button class="mr-2">
                                    <fa-icon [icon]="faEdit" class=" text-gray-500"></fa-icon>
                                </button>
                                <button class="mr-2">
                                    <fa-icon [icon]="faTrash" class=" text-gray-500"></fa-icon>
                                </button>
                                <button>
                                    <fa-icon [icon]="faInfoCircle" class=" text-gray-500"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300">
                        <td class="py-2 px-4">1</td>
                        <td class="py-2 px-4">nhanvien01</td>
                        <td class="py-2 px-4">Le Quoc Vu</td>
                        <td class="py-2 px-4">01/01/2000</td>
                        <td class="py-2 px-4">Male</td>
                        <td class="py-2 px-4">vulq&#64;domain.com</td>
                        <td class="py-2 px-4">0987654321</td>
                        <td class="py-2 px-4">
                            <div class="flex justify-center items-center">
                                <button class="mr-2">
                                    <fa-icon [icon]="faEdit" class=" text-gray-500"></fa-icon>
                                </button>
                                <button class="mr-2">
                                    <fa-icon [icon]="faTrash" class=" text-gray-500"></fa-icon>
                                </button>
                                <button>
                                    <fa-icon [icon]="faInfoCircle" class=" text-gray-500"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300">
                        <td class="py-2 px-4">1</td>
                        <td class="py-2 px-4">nhanvien01</td>
                        <td class="py-2 px-4">Le Quoc Vu</td>
                        <td class="py-2 px-4">01/01/2000</td>
                        <td class="py-2 px-4">Male</td>
                        <td class="py-2 px-4">vulq&#64;domain.com</td>
                        <td class="py-2 px-4">0987654321</td>
                        <td class="py-2 px-4">
                            <div class="flex justify-center items-center">
                                <button class="mr-2">
                                    <fa-icon [icon]="faEdit" class=" text-gray-500"></fa-icon>
                                </button>
                                <button class="mr-2">
                                    <fa-icon [icon]="faTrash" class=" text-gray-500"></fa-icon>
                                </button>
                                <button>
                                    <fa-icon [icon]="faInfoCircle" class=" text-gray-500"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300">
                        <td class="py-2 px-4">1</td>
                        <td class="py-2 px-4">nhanvien01</td>
                        <td class="py-2 px-4">Le Quoc Vu</td>
                        <td class="py-2 px-4">01/01/2000</td>
                        <td class="py-2 px-4">Male</td>
                        <td class="py-2 px-4">vulq&#64;domain.com</td>
                        <td class="py-2 px-4">0987654321</td>
                        <td class="py-2 px-4">
                            <div class="flex justify-center items-center">
                                <button class="mr-2">
                                    <fa-icon [icon]="faEdit" class=" text-gray-500"></fa-icon>
                                </button>
                                <button class="mr-2">
                                    <fa-icon [icon]="faTrash" class=" text-gray-500"></fa-icon>
                                </button>
                                <button>
                                    <fa-icon [icon]="faInfoCircle" class=" text-gray-500"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300">
                        <td class="py-2 px-4">1</td>
                        <td class="py-2 px-4">nhanvien01</td>
                        <td class="py-2 px-4">Le Quoc Vu</td>
                        <td class="py-2 px-4">01/01/2000</td>
                        <td class="py-2 px-4">Male</td>
                        <td class="py-2 px-4">vulq&#64;domain.com</td>
                        <td class="py-2 px-4">0987654321</td>
                        <td class="py-2 px-4">
                            <div class="flex justify-center items-center">
                                <button class="mr-2">
                                    <fa-icon [icon]="faEdit" class=" text-gray-500"></fa-icon>
                                </button>
                                <button class="mr-2">
                                    <fa-icon [icon]="faTrash" class=" text-gray-500"></fa-icon>
                                </button>
                                <button>
                                    <fa-icon [icon]="faInfoCircle" class=" text-gray-500"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300">
                        <td class="py-2 px-4">1</td>
                        <td class="py-2 px-4">nhanvien01</td>
                        <td class="py-2 px-4">Le Quoc Vu</td>
                        <td class="py-2 px-4">01/01/2000</td>
                        <td class="py-2 px-4">Male</td>
                        <td class="py-2 px-4">vulq&#64;domain.com</td>
                        <td class="py-2 px-4">0987654321</td>
                        <td class="py-2 px-4">
                            <div class="flex justify-center items-center">
                                <button class="mr-2">
                                    <fa-icon [icon]="faEdit" class=" text-gray-500"></fa-icon>
                                </button>
                                <button class="mr-2">
                                    <fa-icon [icon]="faTrash" class=" text-gray-500"></fa-icon>
                                </button>
                                <button>
                                    <fa-icon [icon]="faInfoCircle" class=" text-gray-500"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300">
                        <td class="py-2 px-4">1</td>
                        <td class="py-2 px-4">nhanvien01</td>
                        <td class="py-2 px-4">Le Quoc Vu</td>
                        <td class="py-2 px-4">01/01/2000</td>
                        <td class="py-2 px-4">Male</td>
                        <td class="py-2 px-4">vulq&#64;domain.com</td>
                        <td class="py-2 px-4">0987654321</td>
                        <td class="py-2 px-4">
                            <div class="flex justify-center items-center">
                                <button class="mr-2">
                                    <fa-icon [icon]="faEdit" class=" text-gray-500"></fa-icon>
                                </button>
                                <button class="mr-2">
                                    <fa-icon [icon]="faTrash" class=" text-gray-500"></fa-icon>
                                </button>
                                <button>
                                    <fa-icon [icon]="faInfoCircle" class=" text-gray-500"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300">
                        <td class="py-2 px-4">1</td>
                        <td class="py-2 px-4">nhanvien01</td>
                        <td class="py-2 px-4">Le Quoc Vu</td>
                        <td class="py-2 px-4">01/01/2000</td>
                        <td class="py-2 px-4">Male</td>
                        <td class="py-2 px-4">vulq&#64;domain.com</td>
                        <td class="py-2 px-4">0987654321</td>
                        <td class="py-2 px-4">
                            <div class="flex justify-center items-center">
                                <button class="mr-2">
                                    <fa-icon [icon]="faEdit" class=" text-gray-500"></fa-icon>
                                </button>
                                <button class="mr-2">
                                    <fa-icon [icon]="faTrash" class=" text-gray-500"></fa-icon>
                                </button>
                                <button>
                                    <fa-icon [icon]="faInfoCircle" class=" text-gray-500"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300">
                        <td class="py-2 px-4">1</td>
                        <td class="py-2 px-4">nhanvien01</td>
                        <td class="py-2 px-4">Le Quoc Vu</td>
                        <td class="py-2 px-4">01/01/2000</td>
                        <td class="py-2 px-4">Male</td>
                        <td class="py-2 px-4">vulq&#64;domain.com</td>
                        <td class="py-2 px-4">0987654321</td>
                        <td class="py-2 px-4">
                            <div class="flex justify-center items-center">
                                <button class="mr-2">
                                    <fa-icon [icon]="faEdit" class=" text-gray-500"></fa-icon>
                                </button>
                                <button class="mr-2">
                                    <fa-icon [icon]="faTrash" class=" text-gray-500"></fa-icon>
                                </button>
                                <button>
                                    <fa-icon [icon]="faInfoCircle" class=" text-gray-500"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-t border-gray-300">
                        <td class="py-2 px-4">1</td>
                        <td class="py-2 px-4">nhanvien01</td>
                        <td class="py-2 px-4">Le Quoc Vu</td>
                        <td class="py-2 px-4">01/01/2000</td>
                        <td class="py-2 px-4">Male</td>
                        <td class="py-2 px-4">vulq&#64;domain.com</td>
                        <td class="py-2 px-4">0987654321</td>
                        <td class="py-2 px-4">
                            <div class="flex justify-center items-center">
                                <button class="mr-2">
                                    <fa-icon [icon]="faEdit" class=" text-gray-500"></fa-icon>
                                </button>
                                <button class="mr-2">
                                    <fa-icon [icon]="faTrash" class=" text-gray-500"></fa-icon>
                                </button>
                                <button>
                                    <fa-icon [icon]="faInfoCircle" class=" text-gray-500"></fa-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-between items-center py-4 px-10 text-sm">
            <button class="w-30 text-gray-500 border border-gray-300 rounded-xl px-4 py-1">
                <fa-icon [icon]="faAngleLeft" class=""></fa-icon>
                Previous
            </button>
            <div class="flex space-x-2">
                <button class="w-8 h-8 bg-gray-200 text-blue-500 rounded">1</button>
                <button class="w-8 h-8 rounded">2</button>
                <button class="w-8 h-8 rounded">3</button>
            </div>
            <button class="w-30 text-gray-500 border border-gray-300 rounded-xl px-4 py-1">
                Next
                <fa-icon [icon]="faAngleRight" class=""></fa-icon>
            </button>
        </div>
    </div>
</section>

<app-employee-detail></app-employee-detail>

<app-employee-addedit></app-employee-addedit>